.advantages__wrapper {
  padding: 31px;
  position: relative;

  @media (min-width: @desktop-width) {
    margin-left: 175px;
  }
}

.advantages__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-top: 83px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex: 50%;
  }
}

.advantages__item--flower::before {
  content: "";
  background-image: url("../../img/icon-flower.svg.svg");
  display: block;
  position: absolute;
  width: 33px;
  height: 38px;
  top: 125px;
}

.advantages__item--money::before {
  content: "";
  background-image: url("../../img/icon-money.svg.svg");
  display: block;
  position: absolute;
  width: 47px;
  height: 27px;
  top: 265px;
}

.advantages__item--heart::before {
  content: "";
  background-image: url("../../img/icon-heart.svg.svg");
  display: block;
  position: absolute;
  width: 34px;
  height: 27px;
  top: 390px;
}

.advantages__item--knit::before {
  content: "";
  background-image: url("../../img/icon-ball.svg.svg");
  display: block;
  position: absolute;
  width: 35px;
  height: 34px;
  top: 505px;
}

.advantages__item--rocket::before {
  content: "";
  background-image: url("../../img/icon-rocket.svg.svg");
  display: block;
  position: absolute;
  width: 55px;
  height: 23px;
  top: 635px;
}

.advantages__item--gift::before {
  content: "";
  background-image: url("../../img/icon-gift.svg.svg");
  display: block;
  position: absolute;
  width: 33px;
  height: 32px;
  top: 755px;
}
