.advantages__wrapper {
  padding: 31px;
}

.advantages__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-top: 83px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex: 50%;
  }
}
