.catalog__header {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background: @white;
  padding: 25px;
}

.catalog__product-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.catalog__product-text {
  font-size: 13px;
  line-height: 30px;
  color: @brown-text;
}

.catalog__product-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
