.contacts__wrapper {
  padding-left: 30px;
  line-height: 30px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
}

.contacts__type {
  font-size: 14px;
  color: @brown-text;
}

.contacts__write-us-button {
  margin-left: 35px;
  padding: 16px 38px;
}
