.featured {
  display: flex;
  flex-wrap: wrap;
}

.featured__heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 50px;
    left: 240px;
    font-size: 53px;
    line-height: 57px;
  }
}

.featured__product {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @mint-light;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 55px;
    left: 10px;
  }
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  color: @brown-text;
}

.featured-table {
  margin: 0;
}

.featured__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @brown-text;
}

.featured__button {
  padding: 16px 70px;
}

.featured__container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex: 100%;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.featured__big-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 292px 633px;
  }
}

.featured__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 0 0 50%;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    margin-top: 100px;
  }
}

.featured__img {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
