.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured__heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.featured__product {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @mint-light;
  text-transform: uppercase;
  margin: 0;
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  color: @brown-text;
}

.featured-table {
  margin: 0;
}

.featured__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @brown-text;
}

.featured__button {
  padding: 16px 70px;
}
