.form {
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
}

.form__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: @mint-light;
}

.label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__disclaimer {
  font-size: 14px;
  line-height: 16px;
  color: @brown-text;
}

.form__submit-button {
  padding: 18px 37px;
}
