.main-nav {
  position: relative;
  background-color: @white;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 50px;
    position: absolute;
    z-index: 5;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    position: absolute;
    top: -100px;
  }
}

.main-nav__wrapper {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  position: relative;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.main-nav__container--search {
  @media (max-width: @mobile-width-only) {
    padding: 28.5px 0 28.5px 0;
    border-top: 1px solid @gray-table;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    top: -65px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 70%;
    top: -65px;
  }
}

.main-nav__container--search-link {
  color: @black;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__container--search-svg {
  position: absolute;
  left: -40px;

  @media (min-width: @tablet-width) {
    border-left: 1px solid @black-low-opacity;
    border-right: 1px solid @black-low-opacity;
    padding: 36px;
    top: -40px;
    left: 10px;
  }
}

.main-nav__container--search-svg path:hover {
  fill: @mint-light;
  opacity: 1;
}

.main-nav__container--search-svg path:active {
  fill: @mint-light;
  opacity: 0.3;
}

.main-nav__container--cart {
  @media (max-width: @mobile-width-only) {
    padding: 28.5px 0 28.5px 0;
    /*box-shadow: 0 1px 0 @gray-table, inset 0 1px 0 @gray-table;*/
    border-bottom: 1px solid @gray-table;
    border-top: 1px solid @gray-table;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 70%;
    top: -65px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 80%;
    top: -70px;
  }
}

.main-nav__container--cart::before {
  content: "";

  @media (min-width: @tablet-width) {
    background-color: @black;
    opacity: 0.1;
    height: 88px;
    width: 1px;
    position: absolute;
    top: -36px;
    left: -80px;
  }

  @media (min-width: @desktop-width) {
    top: -19px;
  }
}

.main-nav__container--cart-link {
  color: @black;
  position: relative;

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 15px;
  }
}

.main-nav__container--cart-svg {
  position: absolute;
  left: -40px;

  @media (min-width: @tablet-width) {
    top: 2px;
  }
}

.main-nav__free-delivery {
  font-size: 15px;
  line-height: 24px;
  color: @brown-text;
  position: absolute;
  left: 63%;
  top: 10px;
  font-weight: normal;
  z-index: 8;

  @media (min-width: @desktop-width) {
    left: 79%;
  }

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav__inner-wrap {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
    z-index: 7;
  }
}

.main-nav__inner-wrap--sale {
  margin-left: 45px;
  color: @black;
  font-size: 15px;
}

.main-nav__inner-wrap--new {
  color: @black;
  font-size: 15px;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  cursor: pointer;
  border: none;
  z-index: 2;
  background-color: @white;
  width: 21px;
  height: 20px;
  top: -70px;
  right: 30px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  right: 30px;
  width: 20px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__container {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
