.modal-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: @tablet-width) {
    width: 566px;
    height: 336px;
  }
}

.modal-cart__form {
  margin: 20px;
}

.modal-cart__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.modal-cart__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 40px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal-cart__button {
  background-color: @mint-dark;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @white;
  border: none;
  padding: 18px 67px;
  margin: 5px;
}

.modal-cart__text {
  font-size: 15px;
  line-height: 30px;
  color: @brown-text;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.modal-cart__input + label::before {
  content: "";
  position: absolute;
  border: 2px solid @brown-text;
  width: 82px;
  height: 52px;
  opacity: 0.1;
  margin: 5px;
  top: 0;
  left: 0;
}

.modal-cart__label {
  margin: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: @brown-text;
}
