.modal-cart__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.modal-cart__button {
  background-color: @mint-dark;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @white;
  border: none;
  padding: 18px 67px;
}

.modal-cart__text {
  font-size: 15px;
  line-height: 30px;
  color: @brown-text;
}
