.page-footer {
  background-color: @gray-footer;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.page-footer__wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px;
}

.page-footer__logo-img {
  display: block;
  margin: 50px;

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
