.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 79px;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.page-header__logo-img {
  margin: 0 auto;
}
