.reviews__wrapper {
  padding-left: 31px;
  line-height: 30px;
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
}

.reviews__text {
  font-size: 15px;
  color: @brown-text;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-email {
  font-size: 17px;
}

.reviews__write-review-button {
  padding: 16px 65px;
}
