.site-list__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 28.5px 0 28.5px 0;
  color: @black;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @gray-table;
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
    padding: 43px 0 0 0;
  }
}

.site-list__item--knitting {
  @media (min-width: @tablet-width) {
    margin-left: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 41px;
  }
}
