@brown-text: #444444;
@black: #000000;
@white: #FFFFFF;
@mint-light: #63D1BB;
@mint-dark: #56C3B2;
@social-hover: #46C1AE;
@social-hover-low-opacity: rgba(70, 193, 174, 0.1);
@gray-footer: #f1f1f1;
@gray-table: #ECECEC;
